.cards {
    display: flex;
    flex-flow: row wrap;
   justify-content: space-around;
}

.pagination {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.reset {
    display: flex;
    justify-content: center;
}

.All {
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../Images/8453_2.jpg);
   
}

.currentPage {
    display: flex;
    justify-content: center;
    margin: 0;
}