.fondo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    background-size: cover;
    background-image: url(../Images/Diseño\ sin\ título.png);
}

.welcome{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #584c4c;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
    transition: transform 0.2s;
}

.welcome:hover{
    transform: scale(1.1);
}