.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-image: url(../Images/map-of-the-world-gfccedab40_1920.jpg);
    padding-bottom: 45%;
    margin: 0
}