.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 97, 129);
}

.home {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    text-decoration: none;
}

.thome{
    color: whitesmoke;
    font-size: large;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}

.Bactivity{
    display: flex;
    margin-left: 600px;
    justify-content: flex-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}

.searchBar{
    margin-top: 40px;
    margin-right: 20px;
    align-items: baseline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid white;
}

.search{
    margin-right: 15px;
    color: whitesmoke;
    background-color: rgba(0,0,0,0.7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
}

.tcreate{
    color: whitesmoke;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}