.prev {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
    background-color: rgba(0,0,0,0.7);
    transition: background-color 0.3s linear 0.1s;
    border: none;
    color: whitesmoke;
}

.prev:hover{
    background-color: red;
}

.next {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    background-color: rgba(0,0,0,0.7);
    transition: background-color 0.3s linear 0.1s;
    border: none;
    color: whitesmoke;
}

.next:hover{
    background-color: red;
}


.botones{
    display: flex;
    
}

.num{
    background-color: rgba(0,0,0,0.7);
    border: none; 
    color: whitesmoke;
    margin-right: 6px;
    transition: background-color 0.3s linear 0.1s;
}

.num:hover{
    background-color: red;
}

.pag{
    display: flex;
    justify-content: space-around;
    border-top: solid 2px black;
    padding-top: 10px;
}